body{
    background-color: teal;
    font-family: Papyrus, fantasy; font-size: 32px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 32px; } h3 { font-family: Papyrus, fantasy; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 32px; } p { font-family: Papyrus, fantasy; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 32px; } blockquote { font-family: Papyrus, fantasy; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 32px; } pre { font-family: Papyrus, fantasy; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 32px;
    margin: 4% 0%;

}

.title{
  text-shadow: 5px 5px green;
    text-align: center;
}
.title:hover{
  color:white;
  text-shadow: 5px 5px blue;
  transition: .7s;
}

.frame{
  min-height: 40vh;
  width:40%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
  url(https://miro.medium.com/max/852/1*uAp4K4IuVOaJp6v4B99KSQ.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin:auto;
  text-align:center;
  padding-top:10px;
  padding-bottom: 10px;
}
.submitBox{
    background-color: orange;
    width: 50%;
    margin: 0% auto;
    border-radius: 20px;
    padding: 2% 0;
}
.instruction1{
  background-color: aqua;
  padding-top:1px;
  padding-bottom: 1px;
  text-align: center;

}
.instruction1:hover{

  color: white;
  background-color: lightgray;
  transition:0.5s;
}
.instruction2{
  background-color: aqua;
  padding-top:1px;
  padding-bottom: 1px;
  text-align: center;

}
.instruction2:hover{
  color: white;
  background-color: lightgray;
  transition:0.5s;
}
.instruction3{
  background-color: aqua;
  padding-top:1px;
  padding-bottom: 1px;
  text-align: center;

}
.instruction3:hover{
  color: white;
  background-color: lightgray;
  transition:0.5s;
}
.score{
    float: left;
    width: 30%;
    border: 6px solid;
    text-align: center;
    border-radius: 5px;
    background-color: gold;
    max-width: 100px;
    min-width: 120px;
}
.submitBox:hover{
    color: white;
    background-color: lightgreen;
}

.reset{
  margin: 0% auto;

}
.reset:hover{
  color: white;
  background-color: red;
  transition:0.5s;
}
